{
  "CA": {
    "server": "EU",
    "accountName": "moa@mockclinic.ca",
    "password": "XXXXXXXXXXXXXXX",
    "trustedDeviceToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  },
  "UK": {
    "server": "EU",
    "accountName": "itsaanth@icloud.com",
    "password": "Rich2089!frep",
    "trustedDeviceToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  }
}
