{
  "CA": {
    "server": "EU",
    "accountName": "moa@mockclinic.ca",
    "password": "XXXXXXXXXXXXXXX",
    "trustedDeviceToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  },
  "UK": {
    "server": "EU",
    "accountName": "who@where.com",
    "password": "xxxxxxxxxx",
    "trustedDeviceToken": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  }
}
